<div class="container">

    <h2>Your todos</h2>

    <!-- Add a todo form -->
    <div ng-include="'/views/forms/add-todo.html'"></div>

    <!-- Current todos -->
    <ul class="list-todos list-unstyled">
        <li class="list-todos-item" ng-repeat="todo in todos">
            <p class="input-group">
                <input type="text" class="form-control" ng-model="todo">
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
                </span>
            </p>
        </li>
    </ul>
</div>
